<header class="mb-12 relative bg-cover bg-center h-[70vh] w-full text-white" style="background-image: url('<%= asset_path('landing.jpeg') %>');">
  <div class="absolute inset-0 bg-black bg-opacity-65"></div>
  <div class="relative container mx-auto h-full flex items-center px-4 sm:px-6 md:px-8 lg:px-12 justify-center">  
    <div class="max-w-lg flex flex-col justify-center items-center text-center">  <h1 class="text-37px lg:text-50px font-libre font-bold leading-tight mb-4 text-center">  Kids & Family
      </h1>
      <p class="text-center">Join our life-changing sessions designed to strengthen family bonds and enhance the well-being of children and adults alike.</p>
      <div class="bg-transparent-bg p-4 lg:w-3/4 my-4 flex space-x-4 justify-center rounded-full">
        <p>
          <a href="#" class="text-sm md:text-lg bold pr-1 lg:pr-2 underline">Home</a>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </p>

        <p>
          <a href="#" class="text-sm md:text-lg bold pr-1 lg:pr-2 underline">Programs</a>
          <i class="fa fa-chevron-right text-xs" aria-hidden="true"></i>
        </p>

        <p>Kids & Family</p>
      </div>
    </div>
  </div>
</header>

<main class="individual_program_body py-12">
  <section class="program_body_left">
    <h2 class="bold py-2">This program is perfect for you if...</h2>
    <p class="bold py-2">
      Elementum class viverra orci hymenaeos curae;. Rhoncus adipiscing. Conubia condimentum quam taciti dictumst, diam proin consectetuer leo malesuada fames praesent
    </p>
    <p class="py-2">
      Vivamus hendrerit. Quisque donec in luctus tincidunt Aptent, ipsum facilisi magna sagittis augue orci mattis tellus hendrerit id vivamus hymenaeos. Senectus sociis, hac eleifend nisl et ultrices eros. Condimentum ante egestas eget natoque. Nisl pretium rhoncus mollis nunc semper pretium libero, nulla fringilla nulla est. Tortor blandit torquent etiam, dolor euismod, vulputate senectus.
    </p>

    <div class="lg:w-1/2 items-center lg:h-auto">
      <%= image_tag 'mother_holding_child.jpg', alt: "Kids and Family", class: "w-full h-full object-cover rounded-lg lg:rounded-none py-4" %>
    </div>

    <h2 class="bold py-2">Let’s find out why your relationship is being affected by your work life.</h2>
    <p class="py-2">
      Aliquam hymenaeos fusce urna massa nec quis, ut, imperdiet convallis sapien lacinia aptent justo accumsan. Amet ut curae; Maecenas. Nec varius pharetra auctor vel sed velit magna nascetur sed eu tellus a egestas egestas euismod hymenaeos donec donec ullamcorper litora amet phasellus dui, class at metus pretium metus duis pharetra fringilla.
    </p>
    <ul>
      <li>Nullam nostra dis nibh ut sollicitudin vel at eros Erat in ornare risus adipiscing eget suscipit.</li>
      <li>Eu mollis dictum metus nisl diam purus ante nam natoque risus netus condimentum etiam pede porttitor leo duis.</li>
      <li>Morbi faucibus iaculis faucibus mollis lacus platea velit</li>
    </ul>

    <h2 class="py-2 bold">How therapy can save your relationship?</h2>

    <p class="py">
      Condimentum torquent ornare conubia pede at ridiculus ad consequat conubia etiam lacus tortor, ac phasellus ultrices sollicitudin nullam fames odio suscipit tristique lacus luctus integer Mauris ligula sed velit ullamcorper pellentesque dapibus hymenaeos varius congue, libero et mattis. Ligula. Elit. Faucibus class euismod non varius taciti sapien nostra euismod.
    </p>

    <div class="flex flex-col lg:flex-row rounded-lg space-y-8 px-4 pt-6 md:px-8 lg:px-16 lg:space-y-0 lg:space-x-8 mb-12">
      <div class="lg:w-1/2 flex justify-center items-center lg:h-auto">
        <%= image_tag 'zoom.jpg', alt: "Smiling woman", class: "w-full h-full object-cover rounded-lg lg:rounded-none" %>
      </div>
      <div class="items-center">
        <p class="py-2">
          Aliquam hymenaeos fusce urna massa nec quis, ut, imperdiet convallis sapien lacinia aptent justo accumsan. Amet ut curae; Maecenas. Nec varius pharetra auctor vel sed velit magna nascetur sed eu tellus a egestas egestas euismod hymenaeos donec donec ullamcorper litora amet phasellus dui, class at metus pretium metus duis pharetra fringilla.
        </p>
        <ul>
          <li>Nullam nostra dis nibh ut sollicitudin vel at eros Erat in ornare risus adipiscing eget suscipit.</li>
          <li>Eu mollis dictum metus nisl diam purus ante nam natoque risus netus condimentum etiam pede porttitor leo duis.</li>
          <li>Morbi faucibus iaculis faucibus mollis lacus platea velit</li>
        </ul>
      </div>
    </div>

    <h2 class="bold py-2">Our Therapy Process</h2>
    <p class="py-2">
      Magnis hendrerit tempor commodo Venenatis quam nec nec. Purus proin egestas mi donec dictumst eget rhoncus porttitor diam diam placerat etiam ultricies. Morbi id feugiat sociosqu vel. Bibendum nonummy hac. Varius. Sapien. Sociis nec per, sem dui posuere in dis habitasse. Nec ultricies. Nec torquent posuere habitasse gravida dictum purus.
    </p>
    <p class="py-2">Call <span class="text-brown-text">0788345647</span> and book an appointment now.</p>
  </section>

  <section class="program_body_right">
  </section>
</main>